html * {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Game {
  text-align: center;
  background-color: rgb(190, 185, 185);
  border: 3px solid black;
}
.Team .scoreArea {
  background: whitesmoke;
  border: 2px solid black;
  width: 200px;
  padding-top: 5px;
}

.Team {
  display: flex;
  background: lightgray;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30rem;
  border: 4px solid black;
}

.Team .identity {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

.Team img {
  max-width: 200px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.versus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.versus h1 {
  font-family: againtsregular, oswald, sans-serif;
  font-size: 500%;
  color: black;
  text-shadow: 2px 2px 0 black;
}

button {
  display: block;
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1em;
  background-color: rgb(219, 200, 121);
  border: 1px solid black;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  box-shadow: 2px 2px 0 black;
}
